@import '../fonts/GeistSans.css';
@import '../fonts/GeistMono.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #9F1239;
  --background: #FFFDF7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #FFFDF7;
    --background: #9F1239;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'GeistSans';
}
